/* COMMON STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Heebo", sans-serif;
  color: #21243d;
}

.container {
  max-width: 860px;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  margin-top: 15px;
}

h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
}

h2 a {
  text-decoration: none;
  color: #21243d;
}

.menu a:active {
  color: #ff6464;
}

/* HEADER STYLES */
.menu {
  display: flex;
  justify-content: flex-end;
  max-width: 1150px;
  margin: 10px 45px;
}

.menu a {
  padding: 0 15px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 80px;
}

.about__user {
  display: flex;
  justify-content: space-between;
  border-top: 34px solid #c4c4c4;
}

.about__user div {
  max-width: 500px;
}

.about__user img {
  width: 243px;
  height: 243px;
}

.btn {
  background: #ff6464;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 20px;
  margin-top: 35px;
}

.about {
  margin-top: 20px;
}

.main__title {
  margin-top: 10px;
}

/* POSTS STYLES */

.section__posts {
  background: #edf7fa;
  padding-bottom: 15px;
  padding-top: 5px;
  margin-top: 80px;
}

.blog__posts {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.blog__posts h4 {
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  margin-bottom: 20px;
}

.blog__posts h4 a {
  text-decoration: none;
  color: #21243d;
}

.section__posts h2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
}

.blog__posts span {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding-right: 30px;
  margin-bottom: 11px;
}

.blog__posts p {
  margin-top: 15px;
}

.post {
  max-width: 420px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 25px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .blog__posts {
    flex-direction: column;
    align-items: center;
  }
  .blog__posts h4 {
    font-size: 22px;
    line-height: 30px;
  }
  .section__posts h2 {
    text-align: center;
  }
}

/* BLOG STYLES */
.date {
  display: flex;
  gap: 10px;
  margin: 15px 0px;
}

.date__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}

.date__inform {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695a4;
}

.main__blog__title {
  margin-bottom: 45px;
}

.blog__information {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 25px;
}

#active {
  color: #ff6464;
}

.blog__text {
  padding-left: 15px;
  padding-right: 15px;
}

/* BURGER MENU */
.burger {
  width: 30px;
  height: 20px;
  border: none;
  background-image: url(images/menu.svg);
  background-color: transparent;
  margin-left: auto;
  display: none;
  cursor: pointer;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .about__user {
    flex-direction: column;
    align-items: center;
    border: none;
  }

  .about__user div {
    order: 1;
    text-align: center;
  }

  .about__user img {
    width: 180px;
    height: 180px;
    margin-bottom: 50px;
    border-radius: 50%;
    box-shadow: -3px 10px 0 #edf7fa;
  }

  h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .burger {
    display: block;
  }

  .menu a {
    display: none;
  }

  .menu {
    padding-top: 20px;
  }

  .work__title {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .blog__text {
    flex-direction: column;
  }

  .main__blog__title {
    font-size: 30px;
  }

  .second__blog__title {
    font-size: 26px;
    line-height: 38px;
  }

  .date__inform {
    font-size: 16px;
    line-height: 24px;
  }

  .date__text {
    font-size: 16px;
    line-height: 24px;
  }

  .date {
    gap: 8px;
  }
}

/* FEATURED WORKS */
.work {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 30px;
  padding-bottom: 20px;
}

.work img {
  width: 250px;
  height: 180px;
  border-radius: 6px;
  margin-right: 15px;
}

.work h2 {
  font-weight: 700;
  margin-top: 0;
}

.work__title {
  margin-top: 25px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

.work .date__text {
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  color: #ffffff;
  background-color: #142850;
  border-radius: 16px;
  padding: 0px 10px;
  margin-right: 25px;
}

.work p {
  padding-top: 5px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .featured__works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work__title {
    text-align: left;
    font-size: 30px;
    font-weight: 700;
  }

  .work {
    flex-direction: column;
    max-width: 345px;
  }

  .work img {
    width: 100%;
    margin-bottom: 15px;
    min-height: 230px;
  }

  .works__page {
    margin-left: 18px;
    margin-right: 18px;
  }

  .works__page h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

/* ARTICLE-PAGE */

.article__page .container {
  max-width: 680px;
}
.article__page h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 50px;
  max-width: 500px;
  margin-bottom: 15px;
}
.article__page h2 {
  line-height: 60px;
  margin-top: 35px;
}

.article__page h3 {
  font-size: 24px;
}

.article__page .date__text {
  background-color: #ff7c7c;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  color: #ffffff;
  border-radius: 16px;
  padding: 0 10px;
  margin-right: 25px;
}

.article__page .date__inform {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #21243d;
}

.article__page p {
  margin-top: 10px;
  margin-bottom: 35px;
  color: #000000;
  max-width: 680px;
}

.article__page img {
  width: 80%;
  margin-bottom: 27px;
}

@media (max-width: 768px) {
  .article__page h1 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
    font-size: 34px;
    line-height: 50px;
  }

  .article__works {
    margin-left: 10px;
    margin-right: 10px;
  }

  .article__page .date__inform {
    font-size: 16px;
    line-height: 26px;
  }

  .article__page h2 {
    font-size: 26px;
  }

  .article__page h3 {
    font-size: 20px;
  }
}

/* FOOTER STYLES */

footer {
  text-align: center;
  padding: 50px 0;
}

footer p {
  font-size: 14px;
}

.social__links {
  max-width: 230px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.social__links a {
  width: 30px;
  height: 30px;
  margin-bottom: 25px;
}
.icon {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.fb {
  background-image: url(./images/social-icons/fb.svg);
}

.insta {
  background-image: url(./images/social-icons/insta.svg);
}

.tw {
  background-image: url(./images/social-icons/tw.svg);
}

.in {
  background-image: url(./images/social-icons/linkedin.svg);
}
